# build output
dist/
.output/

# dependencies
node_modules/

# generated types y cache de Astro
.astro/

# variables de entorno
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# entorno / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Vercel
.vercel
